.portfolio__about--background
{
  position: relative;
  background-color: #151515;
  background-image: url("../../assets/3px-tile.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.portfolio__about--background_cube
{
  height: 300px;
  width: 300px;
  background: rgba(41,41,41,0.5);
  position: absolute;
  /* z-index: 0; */
}

.portfolio__about--background_cube:nth-of-type(1)
{
  left: 0;
  top: 0;
}

.portfolio__about--background_cube:nth-of-type(2)
{
  bottom: 0;
  right: 0;
}

.portfolio__about,
.portfolio__about--heading
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  z-index: 2;
}

.fa-icon
{
  width: 25px;
  height: 25px;
  color: #fff;
}

.portfolio__about--heading
{
  z-index: 2;
  margin-bottom: 1rem;
}

.portfolio__about--heading h1
{
  font-family: var(--font-family);
  color: var(--color-text);
  letter-spacing: 0.06em;
  font-weight: 500;
  font-size: 35px;
  line-height: 1;
  text-align: center;
  margin-bottom: .8rem;
}

.portfolio__about--heading--subheading
{
  display: flex;
}

.portfolio__about--heading--subheading p
{
  font-family: var(--font-family);
  color: var(--color-subtext);
  letter-spacing: 0.08em;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  margin-right: .5rem;
}

.portfolio__about--heading--subheading p:last-child
{
  color: var(--color-text);
  margin: 0;
}

.portfolio__about--body
{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.portfolio__about--body--image_container
{
  flex: 0.5;
  z-index: 2;
  width: 100%;
}

.portfolio__about--body--image
{
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.portfolio__about--body--image .nimg
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fa-cube
{
  width: 200px;
  height: 200px;
  color: #fff;
}


.portfolio__about--body--details_container
{
  flex: 0.5;
  z-index: 2;
  width: 100%;
}

.portfolio__about--body--details
{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.portfolio__about--body--details,
.portfolio__about--body--image
{
  padding: 1rem;
}

.portfolio__about--body--details--about_me,
.portfolio__about--body--details--socials
{
  margin-bottom: .8rem;
}

.portfolio__about--body--details--about_me p
{
  font-family: var(--font-family);
  color: var(--color-text);
  letter-spacing: 0.06em;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  /* text-align: center; */
}

.portfolio__about--body--details--socials,
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.portfolio__about--body--details--socials .fa-icon
{
  margin-right: 0.4rem;
}

.portfolio__about--body--details--resume
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-subtext);
  padding: .5rem;
  width: 20%;
  cursor: pointer;
}

.portfolio__about--body--details--resume p
{
  font-family: var(--font-family);
  color: var(--color-text);
  letter-spacing: 0.08em;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  /* text-align: center; */
  margin-right: .4rem;
}

.portfolio__about--body--details--resume .fa-icon
{
  width: 15px;
  height: 15px;
  margin-right: .2rem;
}

@media screen and (max-width: 1050px)
{
  .portfolio__about--body--details--about_me p
  {
    font-size: 16px;
    line-height: 1.3;
    /* text-align: center; */
  }
  
  .portfolio__about--body--details--resume
  {
    width: 30%;
  }
  
  .portfolio__about--body--details--resume p
  {
    font-size: 15px;
    line-height: 1;
    /* text-align: center; */
  }
}

@media screen and (max-width: 850px)
{ 
  .portfolio__about--body--details--resume
  {
    width: 40%;
  }
}

@media screen and (max-width: 550px)
{
  .portfolio__about--background_cube
  {
    height: 150px;
    width: 150px;
  }

  .portfolio__about--heading h1
  {
    font-size: 30px;
    line-height: 1;
    margin-bottom: .8rem;
  }

  .portfolio__about--body
  {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .portfolio__about--body--image_container
  {
    width: 80%;
  }

  .portfolio__about--body--details
  {
    align-items: center;
    justify-content: flex-start;
  }

  .portfolio__about--body--details--about_me p
  {
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
  }

  .portfolio__about--body--details--resume
  {
    width: 50%;
  }
}

@media screen and (max-width: 350px)
{
  .portfolio__about--heading h1
  {
    font-size: 20px;
    line-height: 1;
    margin-bottom: .8rem;
  }

  .portfolio__about--body
  {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .portfolio__about--body--image_container
  {
    width: 80%;
  }

  .portfolio__about--body--details
  {
    align-items: center;
    justify-content: flex-start;
  }

  .portfolio__about--body--details--about_me p
  {
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
  }
}